<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2019. All rights reserved.
  ~ @author: Sviatoslav Lashkiv
  ~ @mail:   ss.lashkiv@gmail.com
  ~ @github: https://github.com/sviatoslav-lashkiv
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout">
            <group id="cart">
                <field id="avoid_cart_merging_status" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Avoid merging cart after login</label>
                    <comment>Remove the items from old cart if customer login</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="avoid_cart_merging_allowed_pages" translate="label" type="multiselect" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allowed login pages to skip cart merging</label>
                    <source_model>MageCloud\AvoidCartMerging\Model\Source\AllowedPages</source_model>
                    <depends>
                        <field id="avoid_cart_merging_status">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
